<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Channels</title>
</head>
<body> 
    
    <p>hello Django Channels </p>
    <h3>Messages App</h3>
    <div class="messages">
            <div class="bot">
                <div class="recs">
                    <div id="rec" style="color:blue;">asda</div>
                </div>
                <div class="sens">
                    <div id="sen" style="color:green;">sa</div>
                </div>
            </div>
            
          
                <input type="text" name="" id="message" value="message here">
                <input type="submit" value="Send" >
         
    </div>

</body>
</html>



<script>

    mes=document.getElementById('message').value
    console.log(mes)

    const ws = new WebSocket('ws://127.0.0.1:8000/ws/chat/');

    ws.onopen=function(event){
        console.log('Web Socket Connection is Open'  ,  event)
        ws.send('HI..! Message from Abu Bakar Waheed .... ')
    }

    ws.onmessage=function(event){
        console.log('Message Recieved From Server',event['data'] , event)

        document.getElementById('rec').innerHTML=`<h2>  ${event['data']}  </h2>`
    }


    ws.onerror=function(event){
        console.log('An Error Occured, ' , event)
    }

    ws.onclose=function(event){
        console.log('Connection Closed  ' , event)
    }

</script>